@import 'styles/box';
@import 'styles/variables';

.red {
    color: $app-dark-red !important;
}

.normal {
    color: $box-table-header-text-color !important;
}

.pale {
    color: $app-pale !important;
}
